
{% load custom_tags %}
{% load my_filters %}
{% load static %}


<ul class="list-group">
    {% for comment in posts.postComment.all|slice:":3" %}
      <li class="list-group-item">
        {% if request.user == comment.author or request.user == posts.user %}
        <button class="delete-comment" data-comment-id="{{ comment.id }}">Delete</button>
        {% endif %}
        {% if comment.author.profile_pics %}
        <a href="{% url 'profile' user_id=comment.author.id %}">
          <img src="{{ comment.author.profile_pics.url }}" class="rounded-circle" width="70" height="70">
        </a>
        {% else %}
        <a href="{% url 'profile' user_id=comment.author.id %}">
          <img src="/media/post_image/hand.gif" class="rounded-circle" width="70" height="70">
        </a>
        {% endif %}
        <strong><a href="{% url 'profile' user_id=comment.author.id %}"><span style="color: black;">@{{ comment.author.username }}</span></a> <span style="color: black;"> wrote:</span></strong>
        <div class="card-text" id="content_{{ comment.id }}">
          {% for paragraph in comment.message|split_paragraphs|slice:":3" %}
            <p style="color: black;">{{ paragraph|urlize }}</p>
          {% endfor %}
          {% if comment.message|split_paragraphs|length > 3 %}
            <a href="{% url 'post_content' post_id=posts.id %}">
              <p style="color: black;" class="btn btn-link read-more" data-post="{{ posts.id }}">Read full comment &gt;&gt;&gt;</p>
            </a>
          {% endif %}
        </div>
        
      </li>
    {% empty %}
      <li class="list-group-item" style="color: black;">No comment yet.</li>
    {% endfor %}
    {% if posts.postComment.all|length > 3 %}
    <li class="list-group-item">
      <a href="{% url 'post_content' post_id=posts.id %}">
      <p style="color: black;" class="btn btn-link read-more" data-post="{{ posts.id }}">Read more comments >>></p>
    </a>
    </li>
  {% endif %}
  </ul>
  <br>
  <hr style="border-color: #FFCF70;">
        {% if user.is_authenticated %}
        <form action="{% url 'addComment' post_id=posts.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <span class="comment-field">
            <textarea type="text" id="new-comment" name="newComment" class="form-control rounded-0 shadow-none" rows="3" placeholder="Write a comment..."></textarea>
          </span>
          </div>
          
            <span class="btn-comment">
            <button class="submit-button" type="submit" id="comment-btn">
              Comment
            </button>
          </span>
         
        </form>
        {% endif %}

        <script>
          document.addEventListener('DOMContentLoaded', function() {
            const deleteCommentButtons = document.querySelectorAll('.delete-comment');
        
            deleteCommentButtons.forEach(button => {
              button.addEventListener('click', function() {
                const comment_id = button.getAttribute('data-comment-id');
        
                fetch(`/post_comment/${comment_id}/delete/`, {
                  method: 'POST',
                  headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                  }
                })
                .then(response => response.json())
                .then(data => {
                  if (data.success) {
                    // Comment deleted successfully
                    const commentElement = button.parentElement;
                    if (commentElement) {
                      commentElement.remove();
                    }
                  } else {
                    // Display error message (data.message) if deletion was not successful
                    console.log(data.message);
                  }
                })
                .catch(error => {
                  console.error('An error occurred:', error);
                });
              });
            });
          });
        
    
        </script>