<!-- forum/forum.html -->
{% extends "network/layout.html" %}
{% block body %}

<div class="index-container center-content">
  <div class="forum-background" style="display: flex; justify-content: center; align-items: center; text-align: justify; gap: 10px;">
<h1>Forum</h1> 
</div>
  <br>

<div class="container">
  <h3>
  <a href="{% url 'create_topic' %}">Create New Topic</a>
</h3>
<br>
  <ul>
    {% for topic in topics %}
      <li>
      <strong> <a href="{% url 'view_topic' topic.id %}">{{ topic.title }}</a></strong>
        - Created by {{ topic.creator.username }} on {{ topic.created_at }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
</div>
<div