{% extends "network/layout.html" %}
{% block body %}

<div class="card">
<div class="card-body">
<h1> Welcome to the General Library</h1>
<hr style="border-color: white;">
<div class="library-upload">
    <p>Upload Document</p>
<form method="post" enctype="multipart/form-data" action="{% url 'upload_document' %}">
    {% csrf_token %}
    {{ doc_form.as_p }}
    <button type="submit">Upload</button>
</form>

<p>Upload Video</p>
<form method="post" enctype="multipart/form-data" action="{% url 'upload_video' %}">
    {% csrf_token %}
    {{ vid_form.as_p }}
    <button type="submit">Upload</button>
</form>
</div>

<hr style="border-color: white;">
        <h2>Categories:</h2>
        <ul>
            {% for category in categories %}
                <li><a style="color: white;" href="{% url 'category_detail' category_name=category.categoryName %}">{{ category.categoryName }}</a></li>
            {% endfor %}
        </ul>


   
{% endblock %}
