{% extends "network/layout.html" %}
{% load custom_tags %}
{% load my_filters %}
{% load static %}
{% block body %}

<ul>
  {% for group in groups %}
    <li>
      <a href="{% url 'group_detail' group_id=group.id %}">{{ group.name }}</a>
      <a href="{% url 'group_detail' group_id=group.id %}" class="btn btn-primary">View Details</a>
    </li>
  {% endfor %}
</ul>
<div class="container">
    {% if user.is_authenticated %}
    <p style="background-color: black; color: white;">If you registered before this update, kindly set your first and last name</p>
      <!-- Check if the user is authenticated -->
      <div class="input-group mb-3" id="create-post-field-container">
        <input style="margin-top: 20px; height: 50px; border-radius: 1rem;" type="text" id="create-post-field" class="form-control" placeholder="Share a thought" onclick="openModal()">
      </div>
  
      <!-- Modal -->
      <div id="postModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form action="{% url 'group_newPost' group_id=group_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <textarea style="height: 300px;" id="new-post" class="form-control" name="post_content" placeholder="Share a thought..." required></textarea>
              </div>
              <div class="form-group">
                <input type="file" name="post_image" class="form-control-file" accept="image/*" multiple>
              </div>
              <div class="text-right">
                <button id="post-btn" type="submit" class="btn btn-primary">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Display group posts -->
    {% for posts in page_group_posts %}
    <div class="card-text" id="content_{{ posts.id }}">
      {% for paragraph in posts.postContent|split_paragraphs %}
      <p>{{ paragraph|urlize }}</p>
      {% endfor %}
      <div class="card-body">
        {% if posts.post_image %}
          <div class="image-container">
            <img src="{{ posts.post_image.url }}" class="img-fluid desktop-image" alt="Post Image">
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Display the timestamp of the post -->
    <p class="card-text"><small class="text-muted">{{ posts.timestamp }}</small></p>

  
      <!-- Reactions buttons -->
      <!-- Add your buttons here for like, love, haha, sad, shock, and no reactions -->
    {% include "network/group_likes.html" %}
      <!-- Comments section -->
      <ul class="list-group">
        {% for comment in posts.group_postComment.all %}
          <li class="list-group-item">
            {% if comment.author.profile_pics %}
              <a href="{% url 'profile' user_id=comment.author.id %}">
                <img src="{{ comment.author.profile_pics.url }}" class="rounded-circle" width="70" height="70">
              </a>
            {% else %}
              <a href="{% url 'profile' user_id=comment.author.id %}">
                <img src="/media/post_image/hand.gif" class="rounded-circle" width="70" height="70">
              </a>
            {% endif %}
            <strong><a href="{% url 'profile' user_id=comment.author.id %}">@{{ comment.author.username }}</a> wrote:</strong>
            <div class="card-text" id="content_{{ comment.id }}">
              {% for paragraph in comment.message|split_paragraphs %}
                <p>{{ paragraph|urlize }}</p>
              {% endfor %}
            </div>
          </li>
        {% empty %}
          <li class="list-group-item">No comments yet.</li>
        {% endfor %}
      </ul>

      <br>
      
      <form action="{% url 'group_addComment' post_id=posts.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <span class="comment-field">
            <textarea type="text" id="new-comment" name="newComment" class="form-control rounded-0 shadow-none" rows="3" placeholder="Write a comment..."></textarea>
          </span>
        </div>
        <div class="form-group">
          <span class="btn-comment">
            <button type="submit" class="btn btn-primary btn-sm" style="background-color: #1877f2; border-color: #1877f2;" id="comment-btn">
              <i class="fas fa-paper-plane"></i> Comment
            </button>
          </span>
        </div>
      </form>
          
{% endfor %} 
{% endblock %}