{% extends "network/layout.html" %}

{% block body %}

    <h3>Register</h3>

    

    <button style="margin-top: 20px;" type="button" class="btn btn-primary" onclick="openRegisterModal()">Click here to register</button>

    <!-- Unique Register Modal -->
    <div class="modal fade" id="registerModalUnique" tabindex="-1" aria-labelledby="registerModalUniqueLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalUniqueLabel">Register</h5>
                    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerFormUnique" action="{% url 'network_register' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Register">
                        <button type="button" class="btn btn-secondary" onclick="closeRegisterModal()">Cancel</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>Already have an account? <a href="{% url 'network_login' %}">Log In here.</a></p>
                </div>
                <div class="modal-footer">
                    <p>By registering, you agree to our <a href="{% url 'terms' %}">terms and policy.</a></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openRegisterModal() {
            var modal = document.getElementById('registerModalUnique');
            modal.classList.add('show');
            modal.style.display = 'block';
        }

        function closeRegisterModal() {
            var modal = document.getElementById('registerModalUnique');
            modal.classList.remove('show');
            modal.style.display = 'none';
        }
    </script>

{% endblock %}
