

{% if user.is_authenticated %}
    <div class="head-shot">
        <!-- This prevents the post from showing after the header -->

    </div>
    {% endif %}
<div class="index-container">
    <div class="profile-container">
        {% if user.profile_pics %}
    <a href="{% url 'profile' user_id=user.id %}" id="">
        <img src="{{ user.profile_pics.url }}" class="index-circle-image">
    </a>
{% else %}
    <a href="{% url 'profile' user_id=user.id %}" id="mobile-menu-link">
        <img src="/media/post_image/nodp.jpg" class="index-circle-image">
    </a>
{% endif %}

<button class="profile-button">
    {% if user.first_name|length > 15 %}
    {{ user.first_name | slice:":15" }}...
    {% else %}
        {{ user.first_name }}
    {% endif %}
</button>

    </div>

    <div class="button-container">
      <div class="feed-and-search-button">
        <div class="feed-buttons">
            <a href="{% url 'index' %}" class="feed-button"><span style="color: white;"> My News Feed</a></span>
            <a href="{% url 'following' %}" class="feed-button"><span style="color: white;"> Following Feed</span></a>
        </div>
        <div class="search-form">
            <form action="{% url 'search' %}" method="get">
                <input class="feed-button" type="text" name="q" placeholder="Search" />
            </form>
        </div>
    </div>
    
        <div class="share-thought">
            {% if user.profile_pics %}
            <a href="{% url 'profile' user_id=user.id %}">
                <img src="{{ user.profile_pics.url }}" class="index-post-circle-image">
            </a>
        {% else %}
            <a href="{% url 'profile' user_id=user.id %}">
                <img src="/media/post_image/nodp.jpg" class="index-post-circle-image">
            </a>
        {% endif %}
            <input type="text" id="create-post-field" placeholder="share insight..." onclick="openModal()">
        </div>
        
        
    </div>
    <div class="chatlogo-container">
        <img src="/media/post_image/chatlogo.jpg" alt="Chat Logo" class="index-circle-image">
    </div>
</div>

<!-- My Groups Modal -->
<div style="z-index: 15000;" class="modal" id="my-groups-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: blue;" class="modal-title">My Groups</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal('my-groups-modal')">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            {% for group in my_groups %}
              <li><a style="color: blue" href="{% url 'group_detail' group.pk %}">{{ group.name }}</a>
                <form method="post" action="{% url 'delete_group' group.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Delete Group</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Groups I Joined Modal -->
  <div class="modal" id="groups-i-joined-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: blue;" class="modal-title">Groups I Have Joined</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal('groups-i-joined-modal')">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            {% for group in groups_i_joined %}
              <li><a style="color: blue;" href="{% url 'group_detail' group.pk %}">{{ group.name }}</a>
                <form method="post" action="{% url 'exit_group' group.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Exit Group</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
        <br>
        

    <div class="container">
        <!-- hidden open menu
        <div class="nav-item">
            <button  class="nav-link menu-link">Open Menu</button>
        </div>
        -->
        
        <div class="sidebar" id="sidebar">
            <!-- Sidebar content here -->
            <ul class="navbar-nav ml-auto">
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">
                        {% if user.first_name|length > 15 %}
                        {{ user.first_name | slice:":15"}}...
                        {% else %}
                        {{ user.first_name }}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">
                        {% if user.username|length > 15 %}
                        @{{ user.username | slice:":15"}}...
                        {% else %}
                        @{{ user.username}}
                        {% endif %}
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <label class="switch-label">
                      Dark/Light
                      <label class="switch">
                        <input onclick="toggleBackgroundColor()" type="checkbox" id="toggleSwitch">
                        <span class="slider round"></span>
                      </label>
                    </label>
                  </li>
                  
                <li class="nav-item">
                    <a class="nav-link">{{user.follower.count}} followers | {{following.count}} following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'following' %}">Following</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="my-groups-btn" href="#">My Groups</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="groups-i-joined-btn" href="#">Joined Groups</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#" onclick="navigateToAllGroups()" id="all-btn">Check other groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_group' %}">Create Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'general_library' %}">General Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_library' %}">My Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'announcements' %}">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_register' %}">Register</a>
                </li>
                {% endif %}
                <!-- Add more sidebar items here -->
            </ul>
        </div>

       
            
          
          <script>
            myGroups = document.getElementById('my-groups-btn');
            joined = document.getElementById('groups-i-joined-btn');
            aller = document.getElementById('all-btn');
            
             function navigateToAllGroups() {
              window.location.href = '{% url "all_groups" %}';
            }

            function closeModal(modalId) {
              var modal = document.getElementById(modalId);
              modal.style.display = 'none'; /* Hide the modal */
            }
          
            
              
              $(document).ready(function() {
                // Initialize the modals
                var myGroupsModal = document.getElementById('my-groups-modal');
                var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
            
                myGroupsModal.style.display = 'none';
                groupsIJoinedModal.style.display = 'none';
            
                // Open the modal when the button is clicked
                $('#my-groups-btn').click(function() {
                  myGroupsModal.style.display = 'none';
                });
            
                $('#groups-i-joined-btn').click(function() {
                  groupsIJoinedModal.style.display = 'none';
                });
              });
            
              $(document).ready(function() {
              // Initialize the modals
              var myGroupsModal = document.getElementById('my-groups-modal');
              var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
            
              myGroupsModal.style.display = 'none';
              groupsIJoinedModal.style.display = 'none';
            
              // Open the modal when the button is clicked
              $('#my-groups-btn').click(function() {
                myGroupsModal.style.display = 'block';
              });
            
              $('#groups-i-joined-btn').click(function() {
                groupsIJoinedModal.style.display = 'block';
              });
            
              
            });
            
            </script>
            <style>
            /* Additional CSS for mobile responsiveness */
            
          
            #popit {
              margin-top: 10px;
            }
          
            
          </style>