

{% if user.is_authenticated %}
    <div class="head-shot">
        <!-- This prevents the post from showing after the header -->
        
    </div>
    {% endif %}
<div class="index-container">
    <div class="profile-container">
        {% if user.profile_pics %}
    <a href="{% url 'profile' user_id=user.id %}" id="">
        <img src="{{ user.profile_pics.url }}" class="index-circle-image">
    </a>
{% else %}
    <a href="{% url 'profile' user_id=user.id %}" id="mobile-menu-link">
        <img src="/media/post_image/nodp.jpg" class="index-circle-image">
    </a>
{% endif %}

        <button class="profile-button">{{ user.first_name }} {{user.last_name}}</button>
    </div>

    <div class="button-container">
      <div class="feed-and-search-button">
        <div class="feed-buttons">
            <button class="feed-button">My News Feed</button>
            <button class="feed-button">Following Feed</button>
        </div>
        <div class="search-form">
            <form action="{% url 'search' %}" method="get">
                <input style="padding: 0.5%;" class="feed-button" type="text" name="q" placeholder="Search something" />
            </form>
        </div>
    </div>
    
        <div class="share-thought">
            {% if user.profile_pics %}
            <a href="{% url 'profile' user_id=user.id %}">
                <img src="{{ user.profile_pics.url }}" class="index-post-circle-image">
            </a>
        {% else %}
            <a href="{% url 'profile' user_id=user.id %}">
                <img src="/media/post_image/nodp.jpg" class="index-post-circle-image">
            </a>
        {% endif %}
            <input type="text" id="create-post-field" placeholder="Want to share your insight?" onclick="openModal()">
        </div>
        
        
    </div>
    <div class="chatlogo-container">
        <img src="media/post_image/chatlogo.jpg" alt="Chat Logo" class="index-circle-image">
    </div>
</div>


    <div class="container">
        <!-- hidden open menu
        <div class="nav-item">
            <button  class="nav-link menu-link">Open Menu</button>
        </div>
        -->
        
        <div class="sidebar" id="sidebar">
            <!-- Sidebar content here -->
            <ul class="navbar-nav ml-auto">
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">{{ user.first_name }} {{user.last_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">@{{ user.username }}</a>
                </li>
                <li class="nav-item">
                <label style="margin-left: 110px;" class="switch">
                  <input onclick="toggleBackgroundColor()" type="checkbox" id="toggleSwitch">
                  <span class="slier round">Dark/Light</span>
              </label>
              </li>
                <li class="nav-item">
                    <a class="nav-link">{{user.follower.count}} followers | {{following.count}} following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'following' %}">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_group' %}">Create Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'general_library' %}">General Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_library' %}">My Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'announcements' %}">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'network_register' %}">Register</a>
                </li>
                {% endif %}
                <!-- Add more sidebar items here -->
            </ul>
        </div>