{% extends "network/layout.html" %}
{% load custom_tags %}
{% load my_filters %}
{% load static %}
{% block body %}


  <div class="card">
  <div class="card-body">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1>{{ topic.title }}</h1>
  <p>Created by <a href="{% url 'profile' user_id=topic.creator.id %}">{{ topic.creator.username }}</a> on {{ topic.created_at }}</p>
 
  {% if topic.forum_topic_post_images.exists %}
  <br>
  <div class="image-container">
    {% for image in topic.forum_topic_post_images.all %}
        <img src="{{ image.post_image.url }}" class="img-fluid desktop-image" alt="Topic Image">
    
    {% endfor %}
  </div>
{% endif %}
</div>
    {% for post in posts %}
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="align-items-center">
    {% for paragraph in post.content|split_paragraphs %}
                
                  <p>{{ paragraph|urlize }}</p>
               
              {% endfor %}
              
      
        
        <p>Posted by <a href="{% url 'profile' user_id=post.creator.id %}">{{ post.creator.username }}</a> on {{ post.created_at }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  
  <form method="post" action="{% url 'add_forum_post' topic_id=topic.id %}">
    {% csrf_token %}
    <div class="form-group">
      <span class="comment-field">
      <textarea type="text" id="new-comment" name="forum_post_content" class="form-control rounded-0 shadow-none" rows="3" placeholder="Write a comment..."></textarea>
    </span>
    </div>
    
      <span class="btn-comment">
      <button class="submit-button" type="submit" id="comment-btn">
        Comment
      </button>
    </span>
  </form>
  <a href="{% url 'forum' %}">Back to Forum</a>
  </div>
  </div>


{% endblock %}
